@import url('https://fonts.googleapis.com/css?family=Nunito');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Nunito', sans-serif;
    border: 0;   
    overflow:hidden;
}
* {
    scrollbar-width: thin;
    scrollbar-color: gray white;
}
  
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 10px;
}
*::-webkit-scrollbar-track {
background: #fff;
}

*::-webkit-scrollbar-thumb {
background-color: #494f57;
border-radius: 20px;
border: 2px solid #fff;
}

.container{
    width: 95%;
    margin: 0 auto;
}

.btn{
    display: inline-block;
    padding: 0.6rem 1rem;
    font-weight: 500;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}
.btn:hover{
    opacity: 0.8;
}
.btn-primary{
    background: lightblue;
}
  
nav{
    width: 100%;
    background-color: lightseagreen;
    padding: 0.3rem 0;
    position:fixed;
    top: 0;
    z-index: 10;
}

body{
    padding-top: 57px;
}

nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    margin-left: 10px;
}

nav .search-bar input[type="search"]{
    background: transparent;
    width: 25vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: #494f57;
}
 
nav .search-bar input[type="search"]::placeholder{
    color: #494f57;
}

nav .tabs ul{
    margin-left: 5px;
    text-align: center;
}

nav .tabs ul li{
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    font-size: 19px;
    /* color: #494f57; */
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

nav .tabs ul li.active{
  border-bottom: 2px solid;
}

.wrapper{
    display: flex;
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    /* top: 10%;
    left:1%;
    right: 1%; */
    /*
    transform: translate(-50%,-50%); */
}

.wrapper .left,
.wrapper .right{
    width: 25%;
    height: 100%;
    padding: 20px;
    background: #343536;
    overflow: auto;
}

.wrapper .left .tabs ul,
.wrapper .right .tabs ul{
    text-align: center;
}

.wrapper .left .tabs ul li,
.wrapper .right .tabs ul li{
    display: inline-block;
    margin:2px;
    padding: 5px 20px;
    font-size: 19px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.wrapper .left .tabs ul li.active,
.wrapper .right .tabs ul li.active{
  border-bottom: 2px solid #fff;
}

.left .friends_content{
    height: max-content;
    position: sticky;
    top:-18rem;
    bottom: 0;
}

.left .friends{
    margin-top: 1rem;
    height: 800px;
    overflow-y: auto;
}

.left .friend{
    display: flex;
    gap: 1rem;
    background: #fff;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    align-items: center;
    cursor: pointer;
}

.left .friend .info{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    /* margin-bottom: 1rem; */
}

.wrapper .center{
    width: 50%;
    height: 100%;
    padding: 20px;
    background: #fff;
    text-align: center;

}

.wrapper .center .header{
    overflow: hidden;
}

.wrapper .center .center_content{
    overflow: auto;
}

.wrapper .center .myprofile .avatar{
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.center .myprofile .name_last_name{
    display: inline-flex;
    align-items: center;
}
.center .myprofile i{
    margin-left: 20px;
    cursor: pointer;
}

.center .myprofile i{
    opacity: 0.8;
}

.wrapper .center .tabs{
    width: 100%;
    background-color: whitesmoke;
    margin-top: 20px;
    text-align: center;
}
.wrapper .center .tabs ul li{
    display: inline-block;
    margin:5px;
    padding: 5px 80px;
    font-size: 19px;
    color: #343536;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}
.wrapper .center .tabs ul li.active{
    border-bottom: 2px solid #343536;
}

.center .about,
.center .passChange{
    margin: 15px;
}
.center .input_field{
    margin-bottom: 25px;
}

.center p
{
    font-size: 18px;
}

.center .posts{
    height: 600px;
    overflow: auto;
}

.center .makingPost {
    margin: 10px;
}

.center .photos{
    height: 600px;
    overflow: auto;
}
.center .posts .post{
    border-bottom: 2px solid black;
    margin: 20px;
    background-color: rgba(218, 218, 218, 0.24);
}
.center .posts .post img,
.center .photos .slika img,
.centerPostStyle img{
    height: 300px;
    margin-bottom: 20px;
    object-fit: cover;
}

.center .photos .slika{
    border-bottom: 2px solid black;
    margin: 20px;
}

.center .posts .post .action{
    margin: 10px;
    float: right;
}

.center .photos .slika .action{
    margin: 10px;
    float: right;
}

.centerPostStyle{
    background-color: rgba(218, 218, 218, 0.24);

    margin-top: 10px;
    height: 600px;
    overflow: auto;

}
.center .input_field .input{
margin-left: 30px;
width: 50%;
padding: 10px 15px;
border: 0;
font-size: 15px;
background: #ecebeb;
}

.center .about .btnChanges{
    margin-top: 50px;
    margin-left: 4%;
}

.center .passChange .error,
.center .about .error{
    color: red;
    font-size: 14px;
}

.center .logout,
.center .login {
    margin-top: 40%;
}

.wrapper .right .content{
    height: max-content;
    position: sticky;
    top:-18rem;
    bottom: 0;
}

.wrapper .center .search-res {
    height: max-content;
    position: sticky;
    top:-18rem;
    bottom: 0;
}

.wrapper .right .messages{
    margin-top: 1rem;
    height: 800px;
    overflow-y: auto;
}

.wrapper .right .profile-photo,
.wrapper .left .profile-photo,
.searchItem .profile-photo{
   width: 45px;
   height: 45px;
}
.wrapper .right img,
.wrapper .left img{
    width: 45px;
    height: 45px;
    display: block;
    width: 100%;
    border-radius: 50%;
}

.message
{
    display: flex;
    gap: 1rem;
    padding: 0.3rem;
    margin-bottom: 1rem;
    align-items: center;
    background: #fff;
    border-radius: 1rem;
    cursor: pointer;
}

.wrapper .right .messages .message .admin{
    color: red;
}

.wrapper .right .message:hover,
.wrapper .left .friend:hover,
.searchItem:hover {
    opacity: 0.9;
}

.message:last-child{
    margin: 0;
}

.message p{
    font-size: 1rem;
}

.center .wrappers {
    display: flex;
    gap: 5px;
}

.center .message {
    text-align: left;
    justify-content: space-between;
}

.center .message img {
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.right .requests{
    margin-top: 1rem;
    height: 800px;
    overflow-y: auto;
}

.searchResult {
    margin-top: 1rem;
    height: 820px;
    overflow-y: auto;
}


.search-options{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.searchResult img {
    width: 45px;
    height: 45px;
    display: block;
    width: 100%;
    border-radius: 50%;
}

.searchItem {
    background: #343536;
    color: #fff;
    padding: 0.8rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.searchItem .info{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

/* .right .requests h4{
    color: gray;
    margin: 1rem;
} */

.right .request{
    background: #fff;
    padding: 0.8rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.right .request .info{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    /* margin-bottom: 1rem; */
}

.right .request .action{
    margin-left: 15%;
    margin-right: 0%;
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

.text-muted{
    font-size: 15px;
}